.roles-table-row:hover {
  background: #f6f6f6;
  cursor: pointer;
}

.roles-table {
  width: 90%;
  margin: 30px auto !important;
}

td {
  width: calc(100%/3);
}

.roles-filter {
  width: 90%;
  margin: 20px auto 0 auto;
  display: block;
  padding-bottom: 0px;
}
