.image-btn {
  margin: 0 20px !important;
  border-radius: 0px;
}

.image-navigation-container {
  margin: 0 auto;
  width: 90%;
}

.image-navigation-row {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 650px) {
  .image-navigation-container {
    height: auto;
    padding: 20px 20px 0px 20px;
  }
  .image-btn {
    flex: 1 0 100%;
    margin-bottom: 20px !important;
  }
  .image-navigation-row {
    flex-wrap: wrap;
    height: auto;
  }
}
