.users-btn {
  margin: 0 20px !important;
  border-radius: 0px;
}

.user-navigation-container {
  margin: 0 auto;
  width: 90%;
}

.user-navigation-row {
  display: flex;
  justify-content: center;
}
