/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

html, body{
    margin: 0;
    padding: 0;
}

.users-card {
    min-height: 100%;
}

.users-card-header {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

.error-snackbar {
    background: #ff0033 !important;
    color: #f6f6f6 !important;
    max-width: 50% !important;
    right: 0 !important;
}

.success-snackbar {
    background: #28a745 !important;
    color: #f6f6f6 !important;
    max-width: 50% !important;
    right: 0 !important;
}

.mat-simple-snackbar-action {
    color: #f6f6f6 !important;
}

@media only screen and (max-width: 650px) {
  .mobile-display-none {
    display: none;
  }
  .cdk-overlay-pane {
    width: 100% !important;
}
}
