<app-current-path *ngIf="menu" [currentPathItems]="['menus', menu.name]"></app-current-path>
<app-menu-navigation></app-menu-navigation>
<mat-card class="menu-details-card pb-2 mt-4">

  <mat-card-header>
    <mat-card-title>
      <h1 class="menu-details-title">Menu: {{menu?.code}}</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="menu-details-form" [formGroup]="editMenuFormGroup" *ngIf="menu" (ngSubmit)="editMenu()">

      <table class="menu-details-table">

        <tr class="menu-details-row">
          <td class="menu-details-item">Code:</td>
          <td class="menu-details-item" style="text-align: left">{{menu?.code}}</td>
        </tr>

        <tr class="menu-details-row">
          <td class="menu-details-item">Name:</td>
          <td class="menu-details-item">
            <mat-form-field class="menu-details-form-field">
              <input matInput value="{{menu?.name}}" name="name" formControlName="name" [errorStateMatcher]="matcher">
              <mat-error *ngIf="!control.name.hasError('required') && control.name.hasError('minlength')">
                Name must have at least 5 characters
              </mat-error>
              <mat-error *ngIf="control.name.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr class="menu-details-row">
          <td class="menu-details-item">Description:</td>
          <td class="menu-details-item">
            <mat-form-field class="menu-details-form-field">
              <input matInput value="{{menu?.description}}" name="description" formControlName="description">
            </mat-form-field>
          </td>
        </tr>

        <tr class="menu-details-row">
          <td class="menu-details-item">Created at:</td>
          <td class="menu-details-item" style="text-align: left">{{menu?.createdAt}}</td>
        </tr>

        <tr class="menu-details-row">
          <td class="menu-details-item">Updated at:</td>
          <td class="menu-details-item" style="text-align: left">{{menu?.updatedAt}}</td>
        </tr>

        <tr class="menu-details-row">
          <td class="menu-details-item">Status:</td>
          <td class="menu-details-item menu-details-status" (click)="changeStatus()"
              [ngStyle]="{ 'background': menu.status === 'INACTIVE' ? '#828282' : menu.status === 'ACTIVE' ? '#28a745' : 'blue' }">{{menu?.status}}</td>
        </tr>

        <tr class="menu-details-row">
          <td class="menu-details-item menu-elements-title">Elements</td>
          <td class="menu-details-item">
            <a mat-raised-button class="menu-edit-btn" color="primary" (click)="addMenuElement()" *ngIf="menuElementsVisibility">Add element</a>
            <a mat-raised-button class="menu-edit-btn" color="primary" (click)="menuElementsVisibility = !menuElementsVisibility">
              <ng-container *ngIf="!menuElementsVisibility">Show</ng-container>
              <ng-container *ngIf="menuElementsVisibility">Hide</ng-container>
            </a>
          </td>
        </tr>

      </table>

      <table>
        <ng-container *ngIf="menuElementsVisibility && !menuElements.length">
          <tr class="menu-details-row">
            <td class="menu-details-item-none">
              This menu have no elements
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="menuElementsVisibility">
          <tr *ngFor="let menuElement of menuElements; let i = index" class="menu-details-row">
            <td class="menu-details-item-element">
              <mat-form-field class="menu-details-form-field" [ngClass]="{'mat-form-field-invalid ng-dirty ng-invalid ng-touched' : !menuElement.url.length}">
                <textarea #url matInput value="{{menuElement?.url}}" name="url" placeholder="Url {{i+1}}"
                          (change)="menuElement.url = url.value"></textarea>
              </mat-form-field>
            </td>
            <td class="menu-details-item-element">
              <mat-form-field class="menu-details-form-field" [ngClass]="{'mat-form-field-invalid ng-dirty ng-invalid ng-touched' : !menuElement.text.length}">
                <textarea #text matInput value="{{menuElement?.text}}" name="text" placeholder="Text {{i+1}}"
                          (change)="menuElement.text = text.value"></textarea>
              </mat-form-field>
            </td>
            <td class="menu-details-item-delete">
              <a mat-raised-button class="menu-edit-btn" color="warn" (click)="removeMenuElement(i)"><i class="material-icons">delete</i></a>
            </td>
          </tr>
        </ng-container>
      </table>
      <mat-card-actions class="menu-edit-actions">
        <button mat-raised-button class="menu-edit-btn" color="primary">Save changes</button>
        <a mat-raised-button class="menu-edit-btn" (click)="clearChanges()" color="accent">Clear changes</a>
        <a mat-raised-button class="menu-edit-btn" color="warn" (click)="removeMenu()">Remove menu</a>
      </mat-card-actions>
    </form>
  </mat-card-content>



</mat-card>
