::ng-deep .mat-card-header {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

mat-form-field {
  width: 100%;
}

.role-details-card {
  margin: 0 auto;
  width: 90%;
  padding: 20px 30px;
}

.role-details-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
  word-break: break-all;
}

.role-details-row {
  border: 1px solid #f6f6f6;
}

.role-details-row:hover {
  background: #f6f6f6;
  border: 1px solid #e6e6e6;
}

.role-details-item {
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  border-right: 1px solid #f6f6f6;
  width: 50%;
  word-break: break-word;
}

.role-edit-actions {
  display: flex;
  justify-content: center;
}

.role-edit-btn {
  border-radius: 0px;
}

.role-btn {
  margin: 0 20px !important;
  border-radius: 0px;
}

.role-navigation-container {
  margin: 0 auto;
  width: 90%;
}

.role-navigation-row {
  display: flex;
  justify-content: center;
}

a.role-edit-btn:hover {
  text-decoration: none;
}

.role-details-status {
  color: #f6f6f6;
  font-family: Consolas;
}

.role-details-status:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .role-details-row {
    display: flex;  
    flex-direction: column;
    border: none;
    border-bottom: 1px solid #f6f6f6;
  }
  .role-details-row:hover {
    border: none;
    border-bottom: 1px solid #f6f6f6;
  }
  .role-details-item {
    width: 100%;
    border: none;
  }
  .role-details-card {
    padding: 2rem 0;
  }
  .mat-card-actions {
    padding: 2rem 2rem 0 2rem;
  }
  .role-details-title {
    margin: 0 1rem;
  }
  .role-edit-actions {
    flex-wrap: wrap;
  }
  .role-edit-btn {
    flex: 100%;
    width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .role-navigation-container {
    height: auto;
    padding: 20px 20px 0px 20px;
  }
  .role-btn {
    flex: 1 0 100%;
    margin-bottom: 20px !important;
  }
  .role-navigation-row {
    flex-wrap: wrap;
    height: auto;
  }
}