.images-table-row:hover {
  background: #f6f6f6;
  cursor: pointer;
}

.images-table {
  width: 90%;
  margin: 10px auto 30px auto !important;
}

td {
  width: calc(100%/4);
}

.images-filter {
  width: 90%;
  margin: 20px auto 0 auto;
  display: block;
  padding-bottom: 0px;
}

.images-image-row {
  width: 100%;
  max-height: 300px;
  margin: 8px 0px;
}
