<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sideMenu.toggle()" class="btn-toggle-menu">
        <i class="material-icons">menu</i>
    </button>
    <h1 class="example-app-name">Content Management System</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sideMenu id="menu">
      <mat-nav-list>
        <a mat-list-item routerLink=".">
          <div class="width-30">
              <i class="material-icons">account_circle</i>
          </div>
          <div class="width-80">Users</div>
        </a>
        <a mat-list-item routerLink=".">
          <div class="width-30">
            <i class="material-icons">accessibility_new</i>
          </div>
          <div class="width-80">Roles</div>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>