::ng-deep .mat-card-header {
    display: flex;
    justify-content: center;
  }
  
  ::ng-deep .mat-card-header-text {
    margin: 0 !important;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .setting-details-card {
    margin: 0 auto;
    width: 90%;
    padding: 20px 30px;
  }
  
  .setting-details-title {
    font-size: 1.5rem;
    margin-bottom: 30px;
    word-break: break-all;
  }
  
  .setting-details-row {
    border: 1px solid #f6f6f6;
  }
  
  .setting-details-row:hover {
    background: #f6f6f6;
    border: 1px solid #e6e6e6;
  }
  
  .setting-details-item {
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    border-right: 1px solid #f6f6f6;
    width: 50%;
    word-break: break-word;
  }
  
  .setting-edit-actions {
    display: flex;
    justify-content: center;
  }
  
  .setting-edit-btn {
    border-radius: 0px;
  }
  
  .setting-btn {
    margin: 0 20px !important;
    border-radius: 0px;
  }
  
  .setting-navigation-container {
    margin: 0 auto;
    width: 90%;
  }
  
  .setting-navigation-row {
    display: flex;
    justify-content: center;
  }
  
  a.setting-edit-btn:hover {
    text-decoration: none;
  }
  
  .setting-details-status {
    color: #f6f6f6;
    font-family: Consolas;
  }
  
  .setting-details-status:hover {
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .setting-details-row {
      display: flex;  
      flex-direction: column;
      border: none;
      border-bottom: 1px solid #f6f6f6;
    }
    .setting-details-row:hover {
      border: none;
      border-bottom: 1px solid #f6f6f6;
    }
    .setting-details-item {
      width: 100%;
      border: none;
    }
    .setting-details-card {
      padding: 2rem 0;
    }
    .mat-card-actions {
      padding: 2rem 2rem 0 2rem;
    }
    .setting-details-title {
      margin: 0 1rem;
    }
    .setting-edit-actions {
      flex-wrap: wrap;
    }
    .setting-edit-btn {
      flex: 100%;
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .setting-navigation-container {
      height: auto;
      padding: 20px 20px 0px 20px;
    }
    .setting-btn {
      flex: 1 0 100%;
      margin-bottom: 20px !important;
    }
    .setting-navigation-row {
      flex-wrap: wrap;
      height: auto;
    }
  }