<app-current-path [currentPathItems]="['faqs', 'add']"></app-current-path>
<app-module-navigation [navigation]="faqService.getFaqsNavigation()"></app-module-navigation>
<mat-card class="faq-add-card pb-2 mt-4">

  <mat-card-header>
    <mat-card-title>
      <h1 class="faq-add-title">Add new faq</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form" [formGroup]="addFaqFormGroup" (ngSubmit)="addFaq()">

      <mat-form-field class="example-full-width mb-4">
        <input matInput placeholder="Code" name="code" formControlName="code" [errorStateMatcher]="matcher">
        <mat-hint>Type code here</mat-hint>
        <mat-error *ngIf="control.code.hasError('minlength') && !control.code.hasError('required')">
          Code must have at least 5 characters
        </mat-error>
        <mat-error *ngIf="control.code.hasError('required')">
            Code is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width mb-4">
        <input matInput placeholder="Name" type="text" name="name" formControlName="name" [errorStateMatcher]="matcher">
        <mat-hint>Type name here</mat-hint>
        <mat-error *ngIf="control.name.hasError('minlength') && !control.name.hasError('required')">
          Name must have at least 5 characters
        </mat-error>
        <mat-error *ngIf="control.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width mb-4">
        <input matInput placeholder="Description" type="text" name="description" formControlName="description" [errorStateMatcher]="matcher">
        <mat-hint>Type description here</mat-hint>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button class="faq-add-btn" color="primary">Add</button>
      </mat-card-actions>

    </form>
  </mat-card-content>

</mat-card>
