.users-table-row:hover {
  background: #f6f6f6;
  cursor: pointer;
}

.users-table {
  width: 90%;
  margin: 10px auto 30px auto !important;
}

td {
  width: calc(100%/4);
}

.users-filter {
  width: 90%;
  margin: 20px auto 0 auto;
  display: block;
  padding-bottom: 0px;
}

@media only screen and (max-width: 650px) {
  td, th {
    width: calc(100%/2);
    padding-left: 24px !important;
  }
}
